.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #747380;
  text-align: left;
}

.title {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #87C2D5;
  color: #e7f6f6;
  font-size: 8vh;
}

.top {
  display: flex;
  justify-content: space-between;
}

table {
  padding: 15vh 20vh;
}

.subtitle {
  font-size: 4vh;
  padding: 4vh 0vh;
  font-weight: bold;

}

.intro {
  font-size: 3vh;
}

#circle {
  width: 70vh;
  height: 70vh;
  border-radius: 50%;
  margin: 5vh 10vh;
}

.projects {
  background-color: #EAFAFF;
  padding: 10vh;
  max-width: 100% 
}

.project {
  background: #ffffff;
  padding: 3vh 4vh;
  color: #BABABA;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 13px;
  width: 40vh;
  margin-left: 5vh;
  margin-bottom: 5vh;
  
}

.project-name {
  font-weight: lighter;
  background-color: #7DC8C8;
  color: white;
  font-weight: normal;
  padding: 0.5vh 1.5vh;
  border-radius: 4px;

}

.project-list {
  display: flex;
  justify-content: space-between;
}

.more {
color: hsl(0, 4%, 73%);
border: #BDB8B8;
font-size: 3vh;
font-weight: bold;
background-color: #E7F6F6;
border-radius: 50px;
}

.button-div {
  background-color: #E7F6F6;
  border-radius: 50px;
  padding: 1vh 15vh;
  align-self: center;
  text-align: center;
}

.description {
  color: black;
  font-weight: bold;
}

.image {
  height: auto;
  max-width: 40vh;
  border-style:hidden;
  align-self: center;
  box-shadow: 0 0 12px 12px white inset;
}
